@font-face { /* this how you initalize the font in the css, the family name MUST match the actual name*/
    font-family: 'Press Start 2P';
    src: url('PressStart2P-vaV7.ttf');
}
.styledButton {
    -fx-background-image: url("button.png");

    -fx-background-size: 145px 50px;
    -fx-background-position: -8px -6px;
    -fx-background-radius: 15;
    -fx-pref-width: 160px;
    -fx-pref-height: 36px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;

    -fx-font-family: 'Press Start 2P';
    -fx-text-fill: black;
}

.label {
    -fx-font-family: 'Press Start 2P';

}

.background{
    -fx-background-image: url("Background.png");
    -fx-background-size: 375px 225px;
    -fx-background-position: center center;
}

.progressbar{
    -fx-accent: purple
}

.leftCloud{
    -fx-background-image: url("clouds_left.png");
}

.rightCloud{
    -fx-background-image: url("clouds_right.png");
}